mat-form-field, textarea{
  width: 100%;
  /* border-color: orchid;
  border-style: dashed; */
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

/* mat-error{
  background-color: blue;
} */

mat-card{
  margin-left: 15%;
  margin-right: 15%;
}
