<p>글 작성 시작 -> {{completNowDate}}</p>

<div [hidden]="submitted">
  <mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading" #addPostForm="ngForm">

      상태 입력
      <mat-form-field>
        <!-- <input matInput type="text" formControlName="status" placeholder="판매|구매|거래중|거래완료"> -->
        <mat-label>Select</mat-label>
        <mat-select formControlName="status" placeholder="판매|구매|거래중|거래완료">
          <mat-option value="판매">판매</mat-option>
          <mat-option value="구매">구매</mat-option>
          <mat-option value="진행중...">진행중...</mat-option>
          <mat-option value="거래완료">거래완료</mat-option>
        </mat-select>

        <mat-error *ngIf="form.get('status').invalid">상태를 입력하시오</mat-error>
      </mat-form-field>

      <br><br>
      제목
      <mat-form-field>
        <input matInput type="text" formControlName="title" placeholder="게시글 제목을 입력하세요">
        <mat-error *ngIf="form.get('title').invalid">게시글 제목을 입력하세요</mat-error>
      </mat-form-field>
      <br><br>

      내용
      <mat-form-field>
        <input matInput rows="4" formControlName="content" placeholder="게시글 내용을 입력하세요">
        <mat-error *ngIf="form.get('content').invalid">게시글 내용을 입력하세요</mat-error>
      </mat-form-field>
      <div class="image-preview" *ngIf="imagePreview !== ''&& imagePreview && form.get('image').valid">
        <img [src]="imagePreview" [alt]="form.value.title">
      </div>
      <div>
        <input type="file" #filePicker (change)="onImagePicked($event)">
      </div>
      <div>
        <button mat-stroked-button type="button" (click)="filePicker.click()">사진 등록</button>
      </div>

      <br><br>
      <button mat-raised-button color="accent" type="submit" (click)="formHideTrigger()" [disabled]="!addPostForm.form.valid">게시글 저장</button>
    </form>
  </mat-card>
</div>

<div [hidden]="!submitted">
  <p>글 작성 완료!</p>
  <div
   class="btn-group btn-group-sm">
      <button type="button" class="btn btn-dark" (click)="goList()">리스트로 가기</button>
    	<button type="button" class="btn btn-dark" (click)="goBack()">글 추가 작성</button>
    	<!--<button type="button" class="btn btn-dark" (click)="newCustomer(); addCustomerForm.reset()">Continue</button>--> <!-- 리셋하면 재입력도 안되고, 입력확인후에 재가입 로직이 이상함 -->
    </div>
</div>
