<mat-toolbar color="primary">

  <div class="spacer"></div>

  <div class="search" *ngIf="userIsAuthenticated">
    <form [formGroup]="searchForm" (submit)="search()" #addPostForm="ngForm">
      <mat-form-field>
        <input matInput type="text" formControlName="search" placeholder="검색어 입력">
      </mat-form-field>
      <button type="submit" mat-button>검색</button>
    </form>
  </div>

  <div class="headerBtn">
    <ul>
      <li>
        <a mat-button></a>
      </li>
      <li>
        <a mat-button></a>
      </li>
      <li>
        <a mat-button></a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <a mat-button routerLink="/post/create" routerLinkActive="mat-accent">글쓰기</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/login" routerLinkActive="mat-accent">로그인</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/signup" routerLinkActive="mat-accent">회원가입</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <button mat-button (click)="onLogout()">로그아웃</button>
      </li>
    </ul>
  </div>

</mat-toolbar>
