<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1> -->
<h1 mat-dialog-title>댓글 입력</h1>
<div mat-dialog-content>
  <!-- <p>What's your favorite animal?</p> -->
  <mat-form-field>
    <mat-label>글 입력</mat-label>
    <input matInput [(ngModel)]="dialogInput.content">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="addComment()" cdkFocusInitial>확인</button>
  <button mat-button (click)="onNoClick()">취소</button>
</div>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
