<h4><span class="badge badge-light ">ID : {{customer._id}}<br></span> Thumbnail : {{customer.firstname}}</h4>
<div [hidden]="submitted">
    <form #detailCustomerForm="ngForm">
      <div class="form-group">
        <label for="userId">아이디</label>
        <input type="text" class="form-control" id="userId" placeholder="사용할 아이디를 입력하세요"
        required
        [(ngModel)]="customer.userId" name="userId" #userId="ngModel">
        <div [hidden]="userId.valid || userId.pristine"
             class="alert alert-danger">
        </div>
      </div>

      <div class="form-group">
        <label for="userPw">비밀번호</label>
        <input type="text" class="form-control" id="userPw" placeholder="사용할 비밀번호를 입력하세요"
        required
        [(ngModel)]="customer.userPw" name="userPw" #userPw="ngModel">
        <div [hidden]="userPw.valid || userPw.pristine"
             class="alert alert-danger">
        </div>
      </div>

      <div class="form-group">
        <label for="firstname">성</label>
        <input type="text" class="form-control" id="firstname" placeholder="성을 입력하세요"
        required
        [(ngModel)]="customer.firstname" name="firstname" #firstname="ngModel">
        <div [hidden]="firstname.valid || firstname.pristine"
             class="alert alert-danger">

        </div>
      </div>

      <div class="form-group">
        <label for="lastname">이름</label>
        <input type="text" class="form-control" id="lastname" placeholder="이름을 입력하세요"
        required
        [(ngModel)]="customer.lastname" name="lastname" #lastname="ngModel">
        <div [hidden]="lastname.valid || lastname.pristine"
             class="alert alert-danger">

        </div>
      </div>

      <div class="form-group">
        <label for="age">나이</label>
        <input type="number" class="form-control" id="age" placeholder="나이를 입력하세요"

        [(ngModel)]="customer.age" name="age" #age="ngModel">
        <div [hidden]="age.valid || age.pristine"
             class="alert alert-danger">

        </div>
      </div>

      <div class="form-group">
        <label for="address">주소</label>
        <input type="text" class="form-control" id="address" placeholder="주소를 입력하세요"

        [(ngModel)]="customer.address" name="address" #address="ngModel">
        <div [hidden]="address.valid || address.pristine"
             class="alert alert-danger">

        </div>
      </div>

      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-dark" (click)="goBack()">Back</button>
        <button type="button" class="btn btn-dark" (click)="update()" [disabled]="!detailCustomerForm.form.valid">Update</button>
        <button type="button" class="btn btn-dark" (click)="delete()">Delete</button>
	    </div>
    </form>
</div>

<div [hidden]="!submitted">
    <p>{{message}}</p>
    <div class="btn-group btn-group-sm">
      <button type="button" class="btn btn-dark" (click)="goBack()">Back</button>
    </div>
</div>
