<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput name="email" ngModel type="email" placeholder="사용할 이메일을 입력하세요" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">유효한 이메일을 입력하세요</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="password" ngModel type="password" placeholder="사용할 비밀번호를 입력하세요" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">사용할 비밀번호를 입력하세요</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="firstname" ngModel type="text" placeholder="성 입력" #firstnameInput="ngModel" required>
      <mat-error *ngIf="firstnameInput.invalid">한글자 이상의 성을 입력하세요</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="lastname" ngModel type="text" placeholder="이름 입력" #lastnameInput="ngModel" required>
      <mat-error *ngIf="lastnameInput.invalid">한글자 이상의 이름을 입력하세요</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="age" ngModel type="number" placeholder="나이 입력" #ageInput="ngModel" required>
      <mat-error *ngIf="ageInput.invalid">나이를 입력해주세요</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="address" ngModel type="text" placeholder="주소 입력" #addressInput="ngModel" required>
      <mat-error *ngIf="addressInput.invalid">주소를 입력해주세요</mat-error>
    </mat-form-field>
    <!-- <mat-form-field>
      <input matInput name="createDate" ngModel type="date" placeholder="생일" #createDateInput="ngModel" required>
      <mat-error *ngIf="createDateInput.invalid">비활성 기능</mat-error>
    </mat-form-field> -->
    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">회원가입</button>
  </form>
</mat-card>
