
<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> 로그인 </h2>
    <!-- <h2 class="inactive underlineHover"> 회원가입 </h2> -->

    <!-- Login Form -->
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">

      <input class="fadeIn second" name="email" type="email" placeholder="이메일" #emailInput="ngModel" ngModel required>

      <input class="fadeIn third" name="password" type="password" placeholder="비밀번호" #passwordInput="ngModel" ngModel required>

      <input type="submit" class="fadeIn fourth" value="로그인" *ngIf="!isLoading">

    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">비밀번호를 잊으셨나요?</a>
    </div>

  </div>
</div>
