<h3>회원 가입</h3>
<div [hidden]="submitted">
    <form #addCustomerForm="ngForm">

      <div class="form-group">
        <label for="userId">아이디</label>
        <input type="text" class="form-control" id="userId" placeholder="사용할 아이디를 입력하세요"
        required
        [(ngModel)]="customer.userId" name="userId" #userId="ngModel">
        <div [hidden]="userId.valid || userId.pristine"
             class="alert alert-danger">
        </div>
      </div>

      <div class="form-group">
        <label for="userPw">비밀번호</label>
        <input type="text" class="form-control" id="userPw" placeholder="사용할 비밀번호를 입력하세요"
        required
        [(ngModel)]="customer.userPw" name="userPw" #userPw="ngModel">
        <div [hidden]="userPw.valid || userPw.pristine"
             class="alert alert-danger">
        </div>
      </div>

      <div class="form-group">
        <label for="firstname">성</label>
        <input type="text" class="form-control" id="firstname" placeholder="성을 입력하세요"
        required
        [(ngModel)]="customer.firstname" name="firstname" #firstname="ngModel">
        <div [hidden]="firstname.valid || firstname.pristine"
             class="alert alert-danger">

        </div>
      </div>

      <div class="form-group">
        <label for="lastname">이름</label>
        <input type="text" class="form-control" id="lastname" placeholder="이름을 입력하세요"
        required
        [(ngModel)]="customer.lastname" name="lastname" #lastname="ngModel">
        <div [hidden]="lastname.valid || lastname.pristine"
             class="alert alert-danger">

        </div>
      </div>

      <div class="form-group">
        <label for="age">나이</label>
        <input type="number" class="form-control" id="age" placeholder="나이를 입력하세요"

        [(ngModel)]="customer.age" name="age" #age="ngModel">
        <div [hidden]="age.valid || age.pristine"
             class="alert alert-danger">

        </div>
      </div>

      <div class="form-group">
        <label for="address">주소</label>
        <input type="text" class="form-control" id="address" placeholder="주소를 입력하세요"

        [(ngModel)]="customer.address" name="address" #address="ngModel">
        <div [hidden]="address.valid || address.pristine"
             class="alert alert-danger">

        </div>
      </div>

      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-dark" (click)="goBack()">이전 페이지</button>
        <button type="button" class="btn btn-dark" (click)="newCustomer(); addCustomerForm.reset()">입력값 초기화</button>
      	<button type="button" class="btn btn-dark" (click)="addCustomer()" [disabled]="!addCustomerForm.form.valid">추가!!</button>
      </div>
    </form>
</div>

<div [hidden]="!submitted"> <!--  -->
  <p>회원가입 결과! -> <span class="badge badge-light"> {{userId}} </span></p>
  <!-- <p>Submitted Successfully! -> 데이터 확인!! -> <span class="badge badge-light"> firstname : {{customer.firstname}} / lastname : {{customer.lastname}} / age : {{customer.age}}</span></p> -->
	<div class="btn-group btn-group-sm">
    	<button type="button" class="btn btn-dark" (click)="goBack()">Back</button>
    	<!--<button type="button" class="btn btn-dark" (click)="newCustomer(); addCustomerForm.reset()">Continue</button>--> <!-- 리셋하면 재입력도 안되고, 입력확인후에 재가입 로직이 이상함 -->
    </div>
</div>
