
<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="posts-list">
  <mat-accordion class="posts-accordion" multi="true" *ngIf="posts.length > 0 && !isLoading">
    <mat-expansion-panel class="posts-color" *ngFor="let post of posts">
      <mat-expansion-panel-header>
        {{post.status}} / {{post.title}}
      </mat-expansion-panel-header>
      <div class="post-image">
        <img [src]="post.imagePath" [alt]="post.title">
      </div>
      <p>{{post.createDate}} {{post.status}}글 작성/수정 됨</p>
      <p>{{post.content}}</p>
      <mat-expansion-panel class="coment-accordion">
        <mat-expansion-panel-header>
          댓글 보기
        </mat-expansion-panel-header>
          <div class="sendCommentList" *ngFor="let i of commentList">
          <p *ngIf="i.target == post.id"> <!-- 게시글 _id와, 댓글 달 때의 대상의 _id값이 일치해야만 보여준다. filter -->
            {{i.createDate}} >{{i.content}}
          </p>
        </div>
      </mat-expansion-panel>
      <mat-action-row>
        <button mat-button color="info" mat-raised-button (click)="openDialog(post.id)">댓글 쓰기</button>
        <!-- <button mat-button color="info">댓글 쓰기</button> -->
        <!-- <button mat-raised-button (click)="openDialog()">Pick one</button> -->
        <button mat-button color="primary" mat-raised-button [routerLink]="['/edit', post.id]">수정</button>
        <button mat-button color="warn" mat-raised-button (click)="onDelete(post.id)">삭제</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>
</div>

<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">아직 게시글이 없습니다.</p>
