:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

/* .info-text {
  text-align: left;
} */

.post-image {
  width: 100%;
}

.post-image img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.posts-list{
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
}
/* .coment-accordion{
  background-color: gray;
} */
.posts-color{
  background-color: default;
}
/* .posts-accordion {
  background-color: red;
} */

.sendCommentList{
  text-align: left;
}
