
<div class="container">
  <div class="header">

    <!--Content before waves-->
    <div class="a">
    <!--Just the logo.. Don't mind this-->

    <div class="row">
      <div class="col-sm-4">
        <!-- <a routerLink="/"> -->

            <img src='https://ifh.cc/g/OduAW5.png' border='0'
            width="250" height="250">

        <!-- </a> -->
        <div>
          <app-header></app-header>
        </div>
      </div>
		<hr>
        <router-outlet></router-outlet>
    </div>
    </div>

    <!--Waves Container-->
    <div class="waves">
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
    <defs>
    <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
    </defs>
    <g class="parallax">
    <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
    <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
    <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
    <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
    </g>
    </svg>
    </div>
    <!--Waves end-->

    </div>
    <!--Header ends-->

    <!--Content starts-->
    <div class="content flex">
    <p>Lee & Park | 2020 | 플레이 마켓</p>
    </div>
    <!--Content ends-->


</div>




