<h5>All Customers</h5>
<p>
  <!--selector: 'app-customer' => a태그의 [routerLink]="['/customers', cust._id]" 프로퍼티 바인딩 되어 있음-->
</p>
<div *ngFor="let cust of customers; let rowNum=index">
  <a [routerLink]="['/customers', cust._id]"> <!-- style="color:blue" 하이퍼링크는 자체 색상이 있고, 클릭 여부를 볼 수 있기에 색상 사용 안함. -->
    <span class="badge badge-dark">No{{rowNum + 1}}.</span> {{cust.firstname}} {{cust.lastname}}
  </a>
</div>
